Good luck, <%= @player_1_name %>!
<br><br>
<form action="/play" method="post">
    <label form="select">The choice is yours:</label></br>
    Rock<input type="radio" name="choice" value=":rock"></br>
    Paper<input type="radio" name="choice" value=":paper"></br>
    Scissors<input type="radio" name="choice" value=":scissors"></br>
    <input type="submit" value="Play">
  </form>
